.diploma,
.student {
  margin: 1em 0;
  padding: 1em;
  border-width: 1px;;
  border-style: dashed;
  border-radius: 0.5em;
}

.diploma {
  border-color: #00f;
}

.student {
  border-color: #f00;

  h3 {
    margin-top: 0;
  }

  .has-graduated {
    font-weight: bold;
  }
}
